<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聚远社BBS-聚远社员的网上家园</title>
    <script type="text/javascript" src="_js_/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="_js_/jquery.cookie.js"></script>
    <script type="text/javascript" src="_js_/jquery.session.js"></script>
    <script type="text/javascript" src="_js_/alert_ui.js"></script>
    <script type="text/javascript" src="_js_/common.js"></script>
    <script type="text/javascript">
        getSession();
       checkUser('index');
    </script>
</head>
<body>
<h4>我是主页</h4>
</body>
</html>