<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聚远社BBS-聚远社网上社区</title>
</head>
<body style="margin: 0px;">
<div align="center" style="margin-top: 0px">
<img src="../resource/sign/Azure.jpg" width="1000px" height="500px" align="center">
</div>
<div id="loginSpan" align="center">
    <input type="text" name="username" data-role="username" placeholder="用户名/username">
    <input type="password" name="password" data-role="password" placeholder="密码/password">
    <input type="checkbox" name="keepalive" data-role="keepalive" id="form-remember-checkbox">
    <label for="form-remember-checkbox">::before"下次自动登录"</label>
    <a class="button red" data-action="login">登录</a>
    <a class="button" href="register.php" data-no-pjax target="_blank">注册</a>
</div>
<div>

</div>
</body>
</html>