<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="_css_/login.css">
    <link rel="stylesheet" href="_css_/common.css">
    <link rel="stylesheet" href="_css_/reference/alert_style.css">
    <link rel="stylesheet" href="_css_/reference/bootstrap.min.css">
    <script type="text/javascript" src="_js_/reference/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="_js_/reference/jquery.cookie.js"></script>
    <script type="text/javascript" src="_js_/reference/jquery.session.js"></script>
    <script type="text/javascript" src="_js_/reference/alert_ui.js"></script>
    <script type="text/javascript" src="_js_/common.js"></script>
    <script type="text/javascript" src="_js_/login.js"></script>
    <title>聚远社BBS-聚远社网上社区</title>
</head>
<body style="margin: 0px;">
<div align="center" style="margin-top: 0px">
<img src="_resource_/sign/Azure.jpg" width="1000px" height="500px" align="center">
</div>
<div id="loginBlock" class="loginBlock" align="center">
    <input type="text" name="username" data-role="username" placeholder="用户名/username">
    <input type="password" name="password" data-role="password" placeholder="密码/password">
    <label class="my_protocol">
      <input class="keepalive_protocol"  type="checkbox"  data-role="keepalive" value="false">
      <span></span>下次自动登录
    </label>
    <a class="button red" data-action="login">登录</a>
    <a class="button" href="_http_register.html" data-no-pjax target="_blank">注册</a>
    <span class="separator"></span>
    <a class="button " data-role="findpwd">游客</a>
    <a class="button " data-role="findpwd">找回密码</a>
</div>
<div align="center" style="margin-top:20px">
    <a class="button2">常用网站</a><span class="separator separator1"></span>
    <a class="button2">意见反馈</a><span class="separator separator1"></span>
    <a class="button2">客户端下载</a><span class="separator separator1"></span>
    <a class="button2">官方微信</a>
    <p class="normalword">©2012-2019聚远社BBS</p>
</div>
</body>
</html>